<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DaoBSCKPI.Properties.Settings.BSCKPIConnectionString"
            connectionString="Data Source=10.10.200.160;Initial Catalog=BSCKPI;Persist Security Info=True;User ID=chay"
            providerName="System.Data.SqlClient" />
        <add name="DaoBSCKPI.Properties.Settings.BSCKPIConnectionString1"
            connectionString="Data Source=10.10.200.160;Initial Catalog=BSCKPI;User ID=chay"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>